.back-to-amazon-link {
  font-size: 50px;
  color: rgb(0, 113, 133);
}

.back-to-amazon-link:hover {
  color: rgb(199, 81, 31);
}

.product-name{
  font-size: 50px;
  font-weight: bold;
}

.price {
  font-size: 50px;
  color: rgb(0, 118, 0);
  font-weight:bold;
}

.delivery {
  font-size: 50px;
}

.add-to-cart-button {
  font-size: 50px;
  background-color: rgb(249, 217, 76);
  border: none;
  border-radius: 1000px;     
  cursor: pointer;
  margin: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
  transition: 0.30s;
}

.add-to-cart-button:hover {
  background-color: rgb(247, 202, 0);
  padding: 60px;
  margin: 0px;
}

.add-to-cart-button:active {
  opacity: 0.5;
}

.buy-now-button {
  font-size: 50px;
  background-color: rgb(255, 164, 28);
  border: none;
  border-radius: 1000px;
  cursor: pointer;
  margin: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
  transition: 0.30s;
}

.buy-now-button:hover {
  background-color: rgb(250, 137, 0);
  padding: 60px;
  margin: 0px;
}

.buy-now-button:active {
  opacity: 0.5;
}